@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root{
    --black: #0D0D0D;
    --green: #4A8C54;
    --blue: #2E557C;
    --white: #F2F2F2;
    --yellow: #FFE81F;
}
*{
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
.logo{
    height: 10rem;
    width: 10rem;
    margin-right: 10px;
}
h1{
    color: var(--yellow);
    font-family: 'Tilt Warp', cursive;
    letter-spacing: 2px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.films-list{
    display: flex;
    flex-direction: row;
}
.film-card{
    display: flex;
    height: 360px;
    width: 240px;
    background-color: var(--green);
}